<h1><%= @department.name %> Items</h1>
<%= link_to 'add item', new_department_item_path(@department) %>
<ul>
  <% @items.each do |item| %>
    <li>
      <p>$
        <%= item.price %>
        <%= link_to item.name, [@department, item] %>
      </p>
    </li>
  <% end %>
</ul>